/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'font-400';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'font-900';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  



body,html{

    
    background-color:#1a1b1d;
}

.app{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1{
    color:#fff;
    text-align: center;
    font-size:clamp(18px,5vw,32px);
    margin-bottom: 4rem;
   
    

}
.card_container{

    display: flex;
    justify-content: center;
    gap:50px;
    
    

}

.card{

    background-color:#22252c;
    color:#fff;
    padding:2em;
    min-height:400px;
    transition: all 500ms;
    border-radius:10px;
    font-family:'font-400';
    width:400px;
   
    
}

.card:hover{

    scale:1.2;
}
.card_title{

    font-size:clamp(20px,5vw,32px);
    margin-bottom:1rem;
    font-family: 'font-900';
    
}

.card_price{

    font-size:clamp(18px,5vw,28px);
    margin-bottom:2rem;
    color:red;
}

.card_features{

    margin-top:1rem;
    font-size:clamp(16px,5vw,20px);
    color:#f5f5f5;
}

.card_description{

    font-size:clamp(18px,5vw,22px);
    margin-bottom:2rem;
    line-height:1.5em;
    height:70px;
}

.card_button{
    display: block;
    margin-top:4rem;
    color:#f5f5f5;
    font-size:clamp(18px,5vw,20px);
    border:1px solid red;
    text-align: center;
    text-decoration: none;
    padding:.5rem;
    
}


@media (max-width:1200px){

    .app{
        margin-top:4rem;
    }
    
    .card_container{
       display: block;
    }

    .card{

        width:70%;
        margin:2em auto;
        
    }

    .card:hover{
        scale:1;
    }
}


@media (max-width:600px){

   

    .card{

        max-width:100%;
        
    }
}